#about
    padding: 96px 0
    h1
        font-weight: 700
        font-size: 40px
    h3
        font-size: 18px
        margin: 16px 0 64px
        color: #6c757d
    .textbox
        text-align: end
        padding: 0 140px 120px 95px
        h2,h4
            font-weight: 700
            font-size: 28px
            margin-bottom: 8px
        p
            font-size: 19px
            color: #6b6b6b
            line-height: 1.5
    .right-text
        text-align: start
        padding: 0 125px 120px 110px
    .imgbox
        width: 170px
        height: 170px
        border: 7px solid #e9ecef
        border-radius: 50%
        position: relative
        right: 18%
    .left-img
        left: 86%
    .box
        width: 170px
        height: 170px
        border: 7px solid #e9ecef
        border-radius: 50%
        color: #ffffff
        background-color: #ffc800
        padding: 40px
        position: relative
        left: 43%
        h5
            font-weight: 700
            font-size: 22px
            line-height: 1.2
    @media screen and ( max-width: 1400px )
        .textbox
            padding: 0 110px 120px 95px
    @media screen and ( max-width: 1200px )
        .textbox
            padding: 0 110px 120px 30px
        .right-text
            padding: 0 30px 120px 110px
        .imgbox
            right: 21%
        .left-img
            left: 84%
        .box
            left: 41%
    @media screen and ( max-width: 992px )
        .textbox
            padding: 0 110px 120px 0
        .right-text
            padding: 0 0 120px 110px
        .imgbox
            width: 100px
            height: 100px
        .imgbox
            right: 18%
        .left-img
            left: 88%
        .box
            left: 43%
            width: 100px
            height: 100px
            padding: 16px
            h5
                font-size: 16px
    @media screen and ( max-width: 768px )
        .textbox
            text-align: start
            padding: 0 30px 50px 105px
        .right-text
            padding: 0 30px 50px 105px
        .imgbox
            width: 80px
            height: 80px
            position: absolute
            left: 84px
        .img1
            top: 3130px
        .img2
            top: 3395px
        .img3
            top: 3660px
        .img4
            top: 3925px
        .box
            width: 80px
            height: 80px
            left: 5px
            padding: 12px
            h5
                font-size: 12px
