#company
    padding: 48px 0
    .imgbox
        width: 200px
        margin: 16px 50px 
        img
            cursor: pointer
    .box2
        width: 120px
        margin: 16px 90px
    .box3
        width: 160px
        margin: 16px 70px
    .box4
        width: 110px
        margin: 16px 100px
        
