#contact
    padding: 96px 0
    background-color: #212529
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png)
    background-position: center center
    background-size: cover
    h1
        color: #ffffff
        font-weight: 700
        font-size: 40px
    h3
        color: #6c757d
        font-size: 18px
        margin: 16px 0 64px
    input
        width: 640px
        font-size: 18px
        padding: 20px
        border-radius: 6px
        margin-bottom: 24px
    textarea
        font-size: 18px
        width: 640px
        height: 250px
        padding: 20px
        border-radius: 8px
        cursor: text
    .btn
        padding: 20px 48px
        margin-top: 20px
        background-color:  #ffc800 
        color: #ffffff
        font-size: 20px
        font-weight: 700
        opacity: 0.6
        border-radius: 6px
        cursor: auto
    @media screen and ( max-width: 1400px )
        input
            width: 550px
        textarea
            width: 550px
    @media screen and ( max-width: 1200px )
        input
            width: 460px
        textarea
            width: 460px
    @media screen and ( max-width: 992px )
        input
            width: 340px
        textarea
            width: 340px
    @media screen and ( max-width: 768px )
        input
            width: 520px
        textarea
            width: 520px
            height: 200px
    @media screen and ( max-width: 520px )
        input
            width: 450px
        textarea
            width: 450px
            height: 150px
    @media screen and ( max-width: 450px )
        input
            width: 400px
        textarea
            width: 400px
    @media screen and ( max-width: 400px )
        input
            width: 350px
        textarea
            width: 350px
    @media screen and ( max-width: 400px )
        input
            width: 280px
        textarea
            width: 280px
            
        


