#contact
    padding: 96px 0
    background-color: #212529
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png)
    background-position: center center
    background-size: cover
    h1
        color: #ffffff
        font-weight: 700
        font-size: 40px
    h3
        color: #6c757d
        font-size: 18px
        margin: 16px 0 64px
    input
        width: 550px
        font-size: 18px
        padding: 20px
        border-radius: 6px
        margin-top: 8px
    .marginfirst
        margin: 0
    .imgbox
        width: 18px
        position: relative
        bottom: 60px
        left: 520px
    .box2
        bottom: 84px

    // (!) imgboxlari yerrlesdirmek ucun 2-ci usul

    // .box1
    //     width: 18px
    //     position: absolute
    //     top: 5480px
    //     left: 580px
    // .box2
    //     width: 18px
    //     position: absolute
    //     top: 5588px
    //     left: 580px
    // .box3
    //     width: 18px
    //     position: absolute
    //     top: 5722px
    //     left: 580px
    h4,h6
        margin-top: 4px
        color: #dc3545
        font-size: 16px
    h6
        margin-top: 8px
    textarea
        padding: 20px
        border-radius: 8px
        font-size: 18px
    .imgtextarea
        width: 18px
        position: relative
        bottom: 342px
        left: 510px
    .btn
        padding: 20px 48px
        background-color:  #ffc800 
        color: #ffffff
        font-size: 20px
        font-weight: 700
        opacity: 0.6
        border-radius: 6px


