#portfolio
    padding: 96px 0
    background-color: #f8f9fa
    h1
        font-weight: 700
        font-size: 40px
    h3
        font-size: 18px
        color: #6c757d
        margin: 16px 0 64px
    .icon
        display: flex
        justify-content: center
        align-items: center
        font-size: 64px
        color: #ffffff
        background-color: #ffc800e6
        // width: 416px
        // height: 314px
        opacity: 0
        cursor: pointer
        // position: absolute
        // top: 1632px
        transition: 0.5s
        &:hover
            opacity: 1
        i
            cursor: pointer
    .absolute
        position: absolute
        top: 2070px
    .textbox
        text-align: center
        background-color: #ffffff
        padding: 24px
        h2
            font-weight: 700
            font-size: 28px
            margin-bottom: 8px
        h4
            color: #6c757d
            font-size: 18px
    @media screen and ( max-width: 1400px )
        .icon
            // width: 356px
            // height: 267px
            // top: 1665px
        .absolute
            top: 2058px
            width: 356px
            height: 267px
    @media screen and ( max-width: 1200px )
        .icon
            // width: 297px
            // height: 223px
            // top: 1645px
        .absolute
            top: 1993px
            width: 297px
            height: 223px
    @media screen and ( max-width: 992px )
        .icon
            // width: 336px
            // height: 254px
            // top: 1748px
        .absolute
            top: 2126px
            width: 336px
            height: 254px
        .bottom
            // top: 2504px
    @media screen and ( max-width: 768px )
        .icon
            // width: 247px
            // height: 186px
            // top: 2202px
        .absolute
            top: 2513px
            width: 247px
            height: 186px
        .bottom
            top: 2823px
    @media screen and ( max-width: 576px )
        .first
            // top: 2330px
        .second
            width: 96%
            height: 35%
            top: 2717px
        .third
            width: 96%
            height: 35%
            top: 3235px
        .fourth
            width: 96%
            height: 35%
            top: 3750px
        .fifth
            width: 96%
            height: 35%
            top: 4241px
        .sixth
            width: 96%
            height: 35%
            top: 4733px
    @media screen and ( max-width: 514px )
        .first
            height: 32%
            top: 2195px
        .second
            height: 32%
            top: 2670px
        .third
            height: 32%
            top: 3147px
        .fourth
            height: 32%
            top: 3620px
        .fifth
            height: 32%
            top: 4080px
        .sixth
            height: 32%
            top: 4526px
    @media screen and ( max-width: 450px )
        .first  
            height: 28%
            top: 2300px
        .second
            height: 28%
            top: 2700px
        .third
            height: 28%
            top: 3150px
        .fourth
            height: 28%
            top: 3550px
        .fifth
            height: 28%
            top: 3950px
        .sixth
            height: 28%
            top: 4350px
    @media screen and ( max-width: 400px )
        .first  
            height: 24%
            top: 2400px
        .second
            height: 24%
            top: 2800px
        .third
            height: 24%
            top: 3200px
        .fourth
            height: 24%
            top: 3550px
        .fifth
            height: 24%
            top: 3950px
        .sixth
            height: 24%
            top: 4350px
    @media screen and ( max-width: 350px )
        .first  
            height: 20%
            top: 2400px
        .second
            height: 20%
            top: 2750px
        .third
            height: 20%
            top: 3150px
        .fourth
            height: 20%
            top: 3450px
        .fifth
            height: 20%
            top: 3800px
        .sixth
            height: 20%
            top: 4100px


