#services
    padding: 96px 0
    h1
        font-size: 40px
        font-weight: 700
    h3
        font-size: 18px
        color: #6c757d
        margin: 16px 0 64px
    .icon
        display: flex
        justify-content: center
        align-items: center
        width: 130px
        height: 130px
        background-color: #ffc800
        border-radius: 50%
        font-size: 64px
        color: #ffffff
        margin-left: 145px
        // 2.usul
        // position: relative
        // left: 110px
    h2
        font-size: 28px
        font-weight: 700
        margin: 16px 0
    h4
        font-size: 20px
        line-height: 1.6
        color: #6c757d
    @media screen and ( max-width: 1400px )
        .icon
            margin-left: 112px
    @media screen and ( max-width: 1200px )
        h4
            font-size: 17px
        .icon
            margin-left: 80px
    @media screen and ( max-width: 992px )
        h4
            font-size: 16px
        .icon
            margin-left: 45px
    @media screen and ( max-width: 768px )
        .icon
            position: relative
            left: 30%
    @media screen and ( max-width: 500px )
        .icon
            left: 25%
    @media screen and ( max-width: 400px )
        .icon
            left: 20%

        
