#team
    padding: 96px 0
    background-color: #f8f9fa
    h1
        font-size: 40px
        font-weight: 700
    h3
        color: #6c757d
        font-size: 18px
        margin: 16px 0 64px
    .minibox
        display: flex
        justify-content: center
        .imgbox
            width: 224px
            border: 8px solid #e9ecef
            border-radius: 50%
    .textbox
        text-align: center
        h2
            font-size: 30px
            font-weight: 700
            margin-top: 24px
        h4
            color: #6c757d
            font-size: 18px
            margin: 8px 0 16px
        ul
            display: flex
            justify-content: center
            li
                display: flex
                justify-content: center
                align-items: center
                background-color: #000000
                border-radius: 50%
                width: 40px
                height: 40px
                margin: 0 8px
                color: #ffffff
            li,i
                cursor: pointer
    .wid
        width: 650px
        p
            color: #6c757d
            font-size: 18px
            line-height: 1.4
