#welcome
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg)
    background-size: cover
    background-position: center center
    // padding: 280px 0 200px
    padding-bottom: 200px
    .menu
        padding: 32px 0 220px
    .imgbox
        width: 180px
        img
            cursor: pointer
    nav
        a
            color: #ffffff
            margin-left: 48px
            font-size: 18px
            cursor: pointer
            &:hover
                color: #ffc800
    h1
        font-size: 40px
        color: #ffffff
    h3
        font-size: 84px
        font-weight: 700
        color: #ffffff
        margin: 32px 0 64px
    .btn
        background-color: #ffc800
        color: #ffffff
        padding: 18px 50px
        font-size: 20px
        font-weight: 700
        border-radius: 7px
        &:hover
            background-color: #d9aa00
@media screen and ( max-width: 768px )
    #welcome
        padding: 180px 0 120px
        h1
            font-size: 30px
        h3
            font-size: 64px
