body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

.icon {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: text;
}

header {
  padding: 32px 0;
  background-color: #272726;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header .imgbox {
  width: 180px;
}
header .imgbox img {
  cursor: pointer;
}
header nav a {
  color: #ffffff;
  margin: 0 24px;
  font-size: 18px;
  cursor: pointer;
}
header nav a:hover {
  color: #ffc800;
}
header .navigator {
  display: none;
}
header .navigator .btn {
  font-size: 18px;
  font-weight: 700;
  padding: 8px 14px;
  color: #949191;
  border: 1px solid #616161;
}
header .navigator .btn h5 {
  margin-right: 5px;
}
@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .navigator {
    display: block;
  }
}
@media (max-width: 768px) {
  header .imgbox {
    width: 160px;
  }
  header nav a {
    margin-left: 12px;
    font-size: 14px;
  }
}
@media (max-width: 532px) {
  header header {
    width: 130vw;
  }
  header .imgbox {
    width: 140px;
  }
  header nav a {
    margin-left: 8px;
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  header .imgbox {
    width: 120px;
  }
  header nav a {
    margin-left: 4px;
    font-size: 10px;
  }
}

#welcome {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 272px 0 200px;
}
#welcome h1 {
  font-size: 40px;
  color: #ffffff;
}
#welcome h3 {
  font-size: 84px;
  font-weight: 700;
  color: #ffffff;
  margin: 32px 0 64px;
}
#welcome .btn {
  background-color: #ffc800;
  color: #ffffff;
  padding: 18px 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}
#welcome .btn:hover {
  background-color: #d9aa00;
}
@media screen and (max-width: 768px) {
  #welcome #welcome {
    padding: 168px 0 96px;
  }
  #welcome #welcome h1 {
    font-size: 30px;
  }
  #welcome #welcome h3 {
    font-size: 64px;
  }
}

#services {
  padding: 96px 0;
}
#services h1 {
  font-size: 40px;
  font-weight: 700;
}
#services h3 {
  font-size: 18px;
  color: #6c757d;
  margin: 16px 0 64px;
}
#services .minibox {
  text-align: center;
  display: flex;
  justify-content: center;
}
#services .minibox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 50%;
  font-size: 64px;
  color: #ffffff;
}
#services h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 16px 0;
}
#services h4 {
  font-size: 20px;
  line-height: 1.6;
  color: #6c757d;
}

#portfolio {
  padding: 96px 0;
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h3 {
  font-size: 18px;
  color: #6c757d;
  margin: 16px 0 64px;
}
#portfolio .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #ffffff;
  background-color: rgba(255, 200, 0, 0.9019607843);
  width: 416px;
  height: 314px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 1632px;
  transition: 0.5s;
}
#portfolio .icon:hover {
  opacity: 1;
}
#portfolio .icon i {
  cursor: pointer;
}
#portfolio .absolute {
  position: absolute;
  top: 2070px;
}
#portfolio .textbox {
  text-align: center;
  background-color: #ffffff;
  padding: 24px;
}
#portfolio .textbox h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
#portfolio .textbox h4 {
  color: #6c757d;
  font-size: 18px;
}
@media screen and (max-width: 1400px) {
  #portfolio .icon {
    width: 356px;
    height: 267px;
    top: 1665px;
  }
  #portfolio .absolute {
    top: 2058px;
    width: 356px;
    height: 267px;
  }
}
@media screen and (max-width: 1200px) {
  #portfolio .icon {
    width: 297px;
    height: 223px;
    top: 1696px;
  }
  #portfolio .absolute {
    top: 2044px;
    width: 297px;
    height: 223px;
  }
}
@media screen and (max-width: 992px) {
  #portfolio .icon {
    width: 336px;
    height: 254px;
    top: 1811px;
  }
  #portfolio .absolute {
    top: 2190px;
    width: 336px;
    height: 254px;
  }
  #portfolio .bottom {
    top: 2567px;
  }
}
@media screen and (max-width: 768px) {
  #portfolio .icon {
    width: 247px;
    height: 186px;
    top: 2337px;
  }
  #portfolio .absolute {
    top: 2648px;
    width: 247px;
    height: 186px;
  }
  #portfolio .bottom {
    top: 2958px;
  }
}
@media screen and (max-width: 576px) {
  #portfolio .first {
    top: 2330px;
    width: 96%;
    height: 35%;
  }
  #portfolio .second {
    width: 96%;
    height: 35%;
    top: 2827px;
  }
  #portfolio .third {
    width: 96%;
    height: 35%;
    top: 3345px;
  }
  #portfolio .fourth {
    width: 96%;
    height: 35%;
    top: 3860px;
  }
  #portfolio .fifth {
    width: 96%;
    height: 35%;
    top: 4351px;
  }
  #portfolio .sixth {
    width: 96%;
    height: 35%;
    top: 4843px;
  }
}
@media screen and (max-width: 514px) {
  #portfolio .first {
    height: 32%;
    top: 2337px;
  }
  #portfolio .second {
    height: 32%;
    top: 2801px;
  }
  #portfolio .third {
    height: 32%;
    top: 3278px;
  }
  #portfolio .fourth {
    height: 32%;
    top: 3751px;
  }
  #portfolio .fifth {
    height: 32%;
    top: 4211px;
  }
  #portfolio .sixth {
    height: 32%;
    top: 4624px;
  }
}
@media screen and (max-width: 450px) {
  #portfolio .first {
    height: 30%;
    top: 2340px;
  }
  #portfolio .second {
    height: 30%;
    top: 2780px;
  }
  #portfolio .third {
    height: 30%;
    top: 3230px;
  }
  #portfolio .fourth {
    height: 30%;
    top: 3660px;
  }
  #portfolio .fifth {
    height: 30%;
    top: 4080px;
  }
  #portfolio .sixth {
    height: 30%;
    top: 4500px;
  }
}
@media screen and (max-width: 400px) {
  #portfolio .first {
    height: 24%;
    top: 2550px;
  }
  #portfolio .second {
    height: 24%;
    top: 2950px;
  }
  #portfolio .third {
    height: 24%;
    top: 3350px;
  }
  #portfolio .fourth {
    height: 24%;
    top: 3700px;
  }
  #portfolio .fifth {
    height: 24%;
    top: 4100px;
  }
  #portfolio .sixth {
    height: 24%;
    top: 4500px;
  }
}
@media screen and (max-width: 350px) {
  #portfolio .first {
    height: 22%;
    top: 2560px;
  }
  #portfolio .second {
    height: 22%;
    top: 2920px;
  }
  #portfolio .third {
    height: 22%;
    top: 3300px;
  }
  #portfolio .fourth {
    height: 22%;
    top: 3660px;
  }
  #portfolio .fifth {
    height: 22%;
    top: 4000px;
  }
  #portfolio .sixth {
    height: 22%;
    top: 4350px;
  }
}

#about {
  padding: 96px 0;
}
#about h1 {
  font-weight: 700;
  font-size: 40px;
}
#about h3 {
  font-size: 18px;
  margin: 16px 0 64px;
  color: #6c757d;
}
#about .imgbox {
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  position: relative;
  left: 44%;
}
#about .textbox {
  width: 400px;
  padding-bottom: 120px;
}
#about .textbox h2, #about .textbox h4 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
#about .textbox p {
  font-size: 19px;
  color: #6b6b6b;
  line-height: 1.5;
}
#about .left-box {
  text-align: end;
  position: relative;
  right: 4%;
}
#about .right-box {
  position: relative;
  left: 48%;
}
#about .box {
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffc800;
  padding: 40px;
}
#about .box h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
@media screen and (max-width: 1400px) {
  #about .textbox {
    width: 350px;
  }
  #about .left-box {
    right: 6%;
  }
}
@media screen and (max-width: 1200px) {
  #about .imgbox {
    width: 150px;
    height: 150px;
  }
  #about .left-box {
    right: 14%;
  }
  #about .box {
    width: 150px;
    height: 150px;
    padding: 30px;
  }
}
@media screen and (max-width: 992px) {
  #about .textbox {
    width: 220px;
  }
  #about .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .left-box {
    right: 6%;
  }
  #about .box {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
  #about .box h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #about .imgbox {
    width: 80px;
    height: 80px;
    position: static;
  }
  #about .textbox {
    width: 400px;
    padding: 0 0 48px 24px;
    position: static;
    text-align: start;
  }
  #about .right-box {
    position: static;
  }
  #about .box {
    width: 80px;
    height: 80px;
    padding: 8px;
    position: static;
  }
  #about .box h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 592px) {
  #about .textbox {
    width: 350px;
  }
}
@media screen and (max-width: 460px) {
  #about .textbox {
    width: 300px;
  }
}
@media screen and (max-width: 410px) {
  #about .textbox {
    width: 250px;
  }
}
@media screen and (max-width: 360px) {
  #about .textbox {
    width: 180px;
  }
}

#team {
  padding: 96px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
}
#team h3 {
  color: #6c757d;
  font-size: 18px;
  margin: 16px 0 64px;
}
#team .minibox {
  display: flex;
  justify-content: center;
}
#team .minibox .imgbox {
  width: 224px;
  border: 8px solid #e9ecef;
  border-radius: 50%;
}
#team .textbox {
  text-align: center;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
}
#team .textbox h4 {
  color: #6c757d;
  font-size: 18px;
  margin: 8px 0 16px;
}
#team .textbox ul {
  display: flex;
  justify-content: center;
}
#team .textbox ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  color: #ffffff;
}
#team .textbox ul li, #team .textbox ul i {
  cursor: pointer;
}
#team .wid {
  width: 650px;
}
#team .wid p {
  color: #6c757d;
  font-size: 18px;
  line-height: 1.4;
}

#company {
  padding: 48px 0;
}
#company .imgbox {
  width: 200px;
  margin: 16px 0;
}
#company .imgbox img {
  cursor: pointer;
}
#company .box2 {
  width: 120px;
}
#company .box3 {
  width: 160px;
}
#company .box4 {
  width: 110px;
}

#contact {
  padding: 96px 0;
  background-color: #212529;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-position: center center;
  background-size: cover;
}
#contact h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
#contact h3 {
  color: #6c757d;
  font-size: 18px;
  margin: 16px 0 64px;
}
#contact input {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 24px;
}
#contact textarea {
  font-size: 18px;
  width: 100%;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  cursor: text;
}
#contact .btn {
  padding: 20px 48px;
  margin-top: 20px;
  background-color: #ffc800;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
  border-radius: 6px;
  cursor: auto;
}

footer {
  padding: 24px 0;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  color: #ffffff;
}
footer ul li, footer ul i {
  cursor: pointer;
}
footer h2 {
  margin-right: 16px;
  font-size: 16px;
  color: #7d7d7d;
}
@media screen and (max-width: 992px) {
  footer .menu {
    flex-direction: column;
  }
  footer .menu ul {
    margin: 16px 0;
  }
}

#portfolio2 {
  padding: 96px 0;
  background-color: #f8f9fa;
}
#portfolio2 h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio2 h3 {
  font-size: 18px;
  color: #6c757d;
  margin: 16px 0 64px;
}
#portfolio2 .box {
  margin: 0 12px;
}
#portfolio2 .imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 200, 0, 0.9019607843);
  width: 416px;
  height: 314px;
  cursor: pointer;
  transition: 0.5s;
}
#portfolio2 .imgbox i {
  cursor: pointer;
}
#portfolio2 .textbox {
  text-align: center;
  background-color: #ffffff;
  padding: 24px;
}
#portfolio2 .textbox h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
#portfolio2 .textbox h4 {
  color: #6c757d;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */