body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

.icon {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: text;
}

header {
  padding: 24px 0;
  background-color: #272726;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header .imgbox {
  width: 180px;
}
header .imgbox img {
  cursor: pointer;
}
header nav a {
  color: #ffffff;
  margin: 0 24px;
  font-size: 18px;
  cursor: pointer;
}
header nav a:hover {
  color: #ffc800;
}
header .btn {
  display: none;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 14px;
  color: #949191;
  border: 1px solid #616161;
}
header .btn h5 {
  margin-right: 5px;
}
@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .btn {
    display: flex;
    align-items: center;
  }
}

#welcome {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 272px 0 200px;
}
#welcome h1 {
  font-size: 40px;
  color: #ffffff;
}
#welcome h3 {
  font-size: 84px;
  font-weight: 700;
  color: #ffffff;
  margin: 32px 0 64px;
}
#welcome .btn {
  background-color: #ffc800;
  color: #ffffff;
  padding: 16px 48px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}
#welcome .btn:hover {
  background-color: #d9aa00;
}
@media screen and (max-width: 768px) {
  #welcome {
    padding: 168px 0 96px;
  }
  #welcome h1 {
    font-size: 32px;
  }
  #welcome h3 {
    font-size: 64px;
    margin: 25px 0 32px;
  }
}

#services {
  padding: 96px 0;
}
#services h1 {
  font-size: 40px;
  font-weight: 700;
}
#services h3 {
  font-size: 18px;
  color: #6c757d;
  margin: 16px 0 64px;
}
#services .minibox {
  display: flex;
  justify-content: center;
}
#services .minibox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 50%;
  font-size: 64px;
  color: #ffffff;
}
#services h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 16px 0;
}
#services h4 {
  font-size: 20px;
  line-height: 1.6;
  color: #6c757d;
}

#portfolio {
  padding: 96px 0;
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h3 {
  font-size: 18px;
  color: #6c757d;
  margin: 16px 0 64px;
}
#portfolio .imgbox {
  position: relative;
}
#portfolio .imgbox .icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #ffffff;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(255, 200, 0, 0.9019607843);
}
#portfolio .imgbox .icon:hover {
  opacity: 1;
}
#portfolio .imgbox .icon i {
  cursor: pointer;
}
#portfolio .textbox {
  text-align: center;
  background-color: #ffffff;
  padding: 24px;
}
#portfolio .textbox h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
#portfolio .textbox h4 {
  color: #6c757d;
  font-size: 18px;
}

#about {
  padding: 96px 0;
}
#about h1 {
  font-weight: 700;
  font-size: 40px;
}
#about h3 {
  font-size: 18px;
  margin: 16px 0 64px;
  color: #6c757d;
}
#about .imgbox {
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  position: relative;
  left: 44%;
}
#about .textbox {
  width: 400px;
  padding-bottom: 120px;
}
#about .textbox h2, #about .textbox h4 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
#about .textbox p {
  font-size: 19px;
  color: #6b6b6b;
  line-height: 1.5;
}
#about .left-box {
  text-align: end;
  position: relative;
  right: 4%;
}
#about .right-box {
  position: relative;
  left: 48%;
}
#about .box {
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffc800;
  padding: 40px;
}
#about .box h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
@media screen and (max-width: 1400px) {
  #about .textbox {
    width: 350px;
  }
  #about .left-box {
    right: 6%;
  }
}
@media screen and (max-width: 1200px) {
  #about .imgbox {
    width: 150px;
    height: 150px;
  }
  #about .left-box {
    right: 14%;
  }
  #about .box {
    width: 150px;
    height: 150px;
    padding: 30px;
  }
}
@media screen and (max-width: 992px) {
  #about .textbox {
    width: 220px;
  }
  #about .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .left-box {
    right: 6%;
  }
  #about .box {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
  #about .box h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #about .imgbox {
    width: 80px;
    height: 80px;
    position: static;
  }
  #about .textbox {
    width: 400px;
    padding: 0 0 48px 24px;
    position: static;
    text-align: start;
  }
  #about .right-box {
    position: static;
  }
  #about .box {
    width: 80px;
    height: 80px;
    padding: 8px;
    position: static;
  }
  #about .box h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 592px) {
  #about .textbox {
    width: 350px;
  }
}
@media screen and (max-width: 460px) {
  #about .textbox {
    width: 300px;
  }
}
@media screen and (max-width: 410px) {
  #about .textbox {
    width: 250px;
  }
}
@media screen and (max-width: 360px) {
  #about .textbox {
    width: 180px;
  }
}

#team {
  padding: 96px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
}
#team h3 {
  color: #6c757d;
  font-size: 18px;
  margin: 16px 0 64px;
}
#team .minibox {
  display: flex;
  justify-content: center;
}
#team .minibox .imgbox {
  width: 224px;
  border: 8px solid #e9ecef;
  border-radius: 50%;
}
#team .textbox {
  text-align: center;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
}
#team .textbox h4 {
  color: #6c757d;
  font-size: 18px;
  margin: 8px 0 16px;
}
#team .textbox ul {
  display: flex;
  justify-content: center;
}
#team .textbox ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  color: #ffffff;
}
#team .textbox ul li, #team .textbox ul i {
  cursor: pointer;
}
#team .wid {
  width: 650px;
}
#team .wid p {
  color: #6c757d;
  font-size: 18px;
  line-height: 1.4;
}

#company {
  padding: 64px 0;
}
#company .imgbox {
  width: 200px;
}
#company .imgbox img {
  cursor: pointer;
}
#company .box2 {
  width: 120px;
}
#company .box3 {
  width: 160px;
}
#company .box4 {
  width: 110px;
}

#contact {
  padding: 96px 0;
  background-color: #212529;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-position: center center;
  background-size: cover;
}
#contact h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
#contact h3 {
  color: #6c757d;
  font-size: 18px;
  margin: 16px 0 64px;
}
#contact input {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 24px;
}
#contact textarea {
  font-size: 18px;
  width: 100%;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  cursor: text;
}
#contact .btn {
  padding: 20px 48px;
  margin-top: 20px;
  background-color: #ffc800;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
  border-radius: 6px;
  cursor: auto;
}

footer {
  padding: 24px 0;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  color: #ffffff;
}
footer ul li, footer ul i {
  cursor: pointer;
}
footer h2 {
  margin-right: 16px;
  font-size: 16px;
  color: #7d7d7d;
}
@media screen and (max-width: 992px) {
  footer .menu {
    flex-direction: column;
  }
  footer .menu ul {
    margin: 16px 0;
  }
}/*# sourceMappingURL=style.css.map */